params.in = "$baseDir/fastq/*.fastq.gz"
params.out = "$HOME/test"
params.validate = true
params.publish_dir = "nf_output"

//cleanup.enabled = true


profiles {
    local {
        includeConfig 'config/local.config'
    }

    conda {
    	includeConfig 'config/conda.config'
    }

    singularity {
        singularity.enabled = true
        includeConfig 'config/docker.config'
    }

    awsbatch {
        includeConfig 'config/awsbatch.config'
        includeConfig 'config/docker.config'
    }
}
